<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{this.service.user?.name}} {{this.service.user?.surname}}</h2>
            <h4>{{this.service.user?.country?.name?.toLowerCase()}} {{this.service.user?.city?.name?.toLowerCase()}}</h4>
        </div>
        <img src="{{this.service.user?.photo?.uri}}" alt="Default Name">
    </div>

    

    <mat-divider></mat-divider>


    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Ana Sayfa</a>
    <mat-divider></mat-divider>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/record">Record</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ranking">Ranking</a>
    <mat-divider></mat-divider> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Gönderiler</a>

    <mat-divider></mat-divider>

    <a mat-list-item (click)="about()">
        <mat-icon>import_contacts</mat-icon>
        Hakkında
    </a>

    <a mat-list-item (click)="test()">
        <mat-icon>contact_phone</mat-icon>
        Legal
    </a>

</mat-nav-list>