:host{
    height: 100%;
    .mat-drawer-container{
        height: 100%;
    }
    .logo {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
    
      }
      .form{
        width: 100%;
      }
      
}