<h2 mat-dialog-title>Hakkında</h2>
<mat-dialog-content class="mat-typography">



    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Ümmü Sude Yıldırım</mat-card-title>
            <mat-card-subtitle>Hacettepe Üniversitesi Geomatik Mühendisliği 4.Sınıf öğrencisi</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            
               <a mat-stroked-button href="https://www.linkedin.com/in/sude-yildirim-6923591a3/"><mat-icon>location_city</mat-icon> LinkedIn</a>
            
            
        </mat-card-content>
      </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Kapat</button>
</mat-dialog-actions>